UWSaralServices/Service References/LABillingChangeService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.41.185/FG.BO.BillingChange_BMP/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BO_BillingChange" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BO_BCHMOD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="BCHEntity" nillable="true" type="q3:EntityBCHMOD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BO_BCHMODResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BO_BCHMET">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="BCHEntity" nillable="true" type="q4:EntityBCHMET" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BO_BCHMETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="BO_BCHMETResult" nillable="true" type="q5:EntityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BO_BCHQUO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="BCHEntity" nillable="true" type="q6:EntityBCHQUO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BO_BCHQUOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="BillingChange" nillable="true" type="q7:BillingChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BO_BillingChange" minOccurs="0" name="BillingChangeResult" nillable="true" type="q8:BillingChangeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>