UWSaralServices/Service References/LABillingChangeService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.41.185/FG.BO.BillingChange_BMP/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.41.185/FG.BO.BillingChange_BMP/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.41.185/FG.BO.BillingChange_BMP/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BO_BillingChange" />
      <xsd:import schemaLocation="http://10.1.41.185/FG.BO.BillingChange_BMP/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BO_BCHMOD_InputMessage">
    <wsdl:part name="parameters" element="tns:BO_BCHMOD" />
  </wsdl:message>
  <wsdl:message name="IService1_BO_BCHMOD_OutputMessage">
    <wsdl:part name="parameters" element="tns:BO_BCHMODResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BO_BCHMET_InputMessage">
    <wsdl:part name="parameters" element="tns:BO_BCHMET" />
  </wsdl:message>
  <wsdl:message name="IService1_BO_BCHMET_OutputMessage">
    <wsdl:part name="parameters" element="tns:BO_BCHMETResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BO_BCHQUO_InputMessage">
    <wsdl:part name="parameters" element="tns:BO_BCHQUO" />
  </wsdl:message>
  <wsdl:message name="IService1_BO_BCHQUO_OutputMessage">
    <wsdl:part name="parameters" element="tns:BO_BCHQUOResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BillingChange_InputMessage">
    <wsdl:part name="parameters" element="tns:BillingChange" />
  </wsdl:message>
  <wsdl:message name="IService1_BillingChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillingChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BO_BCHMOD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BO_BCHMOD" message="tns:IService1_BO_BCHMOD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BO_BCHMODResponse" message="tns:IService1_BO_BCHMOD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BO_BCHMET">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BO_BCHMET" message="tns:IService1_BO_BCHMET_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BO_BCHMETResponse" message="tns:IService1_BO_BCHMET_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BO_BCHQUO">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BO_BCHQUO" message="tns:IService1_BO_BCHQUO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BO_BCHQUOResponse" message="tns:IService1_BO_BCHQUO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillingChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BillingChange" message="tns:IService1_BillingChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BillingChangeResponse" message="tns:IService1_BillingChange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO_BCHMOD">
      <soap:operation soapAction="http://tempuri.org/IService1/BO_BCHMOD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO_BCHMET">
      <soap:operation soapAction="http://tempuri.org/IService1/BO_BCHMET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO_BCHQUO">
      <soap:operation soapAction="http://tempuri.org/IService1/BO_BCHQUO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillingChange">
      <soap:operation soapAction="http://tempuri.org/IService1/BillingChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO_BCHMOD">
      <soap:operation soapAction="http://tempuri.org/IService1/BO_BCHMOD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO_BCHMET">
      <soap:operation soapAction="http://tempuri.org/IService1/BO_BCHMET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BO_BCHQUO">
      <soap:operation soapAction="http://tempuri.org/IService1/BO_BCHQUO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillingChange">
      <soap:operation soapAction="http://tempuri.org/IService1/BillingChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://10.1.41.185/FG.BO.BillingChange_BMP/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://mumhoiecomuat.fgi.ad/FG.BO.BillingChange_BMP/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>