UWSaralServices/Service References/LABillingChangeService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BO_BillingChange" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BO_BillingChange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="EntityBCHMOD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBCHMOD" nillable="true" type="tns:EntityBCHMOD" />
  <xs:complexType name="EntityBCHMET">
    <xs:sequence>
      <xs:element minOccurs="0" name="BANKACCDSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKACCOUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKKEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BKCARDNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BNKACTYP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATEFROM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DETLSUMM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DTEAPROV" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EFFDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FACTHOUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDAMT" type="xs:decimal" />
      <xs:element minOccurs="0" name="MANDREF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDSTAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCTYCDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIMESUSE" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZDDDAY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBCHMET" nillable="true" type="tns:EntityBCHMET" />
  <xs:complexType name="EntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BORequest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOResponseData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityResponse" nillable="true" type="tns:EntityResponse" />
  <xs:complexType name="EntityBCHQUO">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBCHQUO" nillable="true" type="tns:EntityBCHQUO" />
  <xs:complexType name="BillingChange">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MandateReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredDebitDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingChange" nillable="true" type="tns:BillingChange" />
  <xs:complexType name="BillingChangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MandateReferenceNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingChangeResponse" nillable="true" type="tns:BillingChangeResponse" />
</xs:schema>